/* FONTS */
@font-face {
    font-family: "valentines day";
    src: url('fonts/valentines day/Valentines\ Day.otf');
}

body{
    background-color: #e1d2d9;
    height: 100%;
}

h1{
	font-family: 'valentines day';
	text-align: center;
	text-decoration: overline underline double;
	text-decoration-thickness: 3px;
	text-decoration-skip-ink: none;
	text-underline-offset: 10px;
	color: #961B50;
	text-align: center;
	font-size: 100px;
	margin-top: 50px;

}

/* ADD BOOK FORM */
.container {
	max-width: 600px;
	margin: 50px auto;
	background-color: #e1d2d9;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
	margin-right: 10px;
}
button {
	cursor: pointer;
}
ul {
	list-style: none;
	padding: 0;
}
li {
	margin: 10px 0;
	padding: 10px;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
}
